@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

.visible {
    top: 0;
    transition: top 0.3s ease-out;
  }
  
.invisible {
  top: -100px;
  transition: top 0.3s ease-out;
}

.papagalos-title{
  font-family: 'Shadows Into Light', cursive;
}